[2018-11-30 00:19] jemerald opened #5 "Replace image-diff with pixelmatch?"
See https://www.npmjs.com/package/image-diff

[2018-11-30 06:19] mjhea0 commented on #5
Yes. It was deprecated in early 2017. I've been using it since mid 2017 with no issues. Great project. It works fine.

LooksSame does look interesting though. I'm open to a PR if you want to add it in.

[2018-12-04 03:52] jemerald commented on #5
Happy to raise a PR. I'm leaning towards pixelmatch though, because:
- higher npm usage and more github stars
- small in size and no dependency
- generates diff image in one call (`looks-same` requires separate call to generate diff)

[2018-12-04 09:31] jemerald commented on #5
Got PR mostly working, except for one test that relies on the exact value for the "Normalized total difference" output from imagemagick

[2018-12-04 13:45] mjhea0 commented on #5
Why both pixelmatch and pngjs?

[2018-12-04 19:43] jemerald commented on #5
pngjs is used to parse the image, pixelmatch to do comparison. See sample code on pixelmatch's README
 https://github.com/mapbox/pixelmatch

[2018-12-04 23:50] mjhea0 commented on #5
I think I'm going to have to dig into this more. I have had zero problems with `image-diff` for the past 1.5 years, despite it being deprecated since early 2017. In fact, if it does move to `pixelmatch`, I'd probably fork it and maintain an `image-diff` flavor for production.

Happy to chat more about this over a quick call if you're really set on `pixelmatch`.

[2018-12-05 08:20] jemerald commented on #5
I'm not set one one library or another. Just didn't like the external dependency of ImageMagick, executing a command line app and parse its output seems flaky to me. And there's there deprecation notice.

But you are right, changing to any other library would almost certainly be a breaking change with regards to the difference percentage calculation. So would be better as a forked package instead.

[2018-12-06 13:56] mjhea0 commented on #5
I agree as well with the external dependency of ImageMagick. Want to re-write that failing test?

[2018-12-06 23:53] jemerald commented on #5
I'm happy to rewrite the test.

This would mean a breaking change to existing consumer that makes use of the `errorThreshold` feature, I think we should bump the major version number.

[2018-12-07 09:14] jemerald commented on #5
Test is now passing. I've changed the percentage calculation to be the squareroot of the percent difference, which yielded a value that's much closer to the one reported by ImageMagick, at least for your test scenario.

I've also added change log and bumped the version number (to v1 beta for now, just in case anymore breaking change is required)

[2018-12-07 13:40] mjhea0 commented on #5
Thanks! I'll take a look at it later today.

[2018-12-08 20:18] #5 closed

[2018-12-08 20:52] mjhea0 commented on #5
Just bumped cypress to the latest version. I'm going to pull off the beta tag.

[2019-01-24 16:52] j1348 opened #7 "Add a silent option for debugging mode"
This will allow to have better worflow while writting tests.

for instance
[code]

[2019-01-24 17:18] mjhea0 commented on #7
I think that's a good idea. Want to do a PR?

[2019-03-08 07:47] gtycherry opened #9 "base image can't be store under specified path"
When integrated cypress-visual-regression with cypress, and run command:
cypress run type=base --config screenshotsFolder=cypress/results/snapshots/base
the base image can't be placed under path 'cypress/results/snapshots/base'.
Can anybody give some suggestion?

[2019-05-28 13:36] damiano-carradori commented on #9
I've just try to run it, but I didn't get any error and the images are inside the `cypress/results/snapshots/base` folder.

Can you attach the error that you receive?

[2019-06-18 14:02] edupeeth opened #10 "Property 'compareSnapshotCommand' does not exist on type 'Chainable<undefined>'"
**Following is my plugins/index.js**

[code]

**support/commands.js**

[code]

**cypress.json**

[code]
**Following is my feature file for test** -

[code]
This is what I have in test -

[code]

Error snapshot -

[2019-06-18 14:33] mjhea0 commented on #10
Per the README, use `cy.compareSnapshot()` not `cy. compareSnapshotCommand()`

[2019-06-19 08:52] edupeeth commented on #10
Even cy.compareSnapshot() has same error.

[2019-06-24 03:22] mjhea0 commented on #10
which version of cypress are you using?

[2019-06-24 08:50] edupeeth commented on #10
3.3.1

[2019-06-24 12:53] mjhea0 commented on #10
I've only tested up to v3.2.0. I'll see if I have time today to look into it.

[2019-06-26 05:54] mjhea0 commented on #10
Just tested on 3.3.1 and it works fine. Released v1.0.2.

[2019-06-26 05:54] #10 closed

[2019-06-28 20:43] mikeruddy opened #13 "Running regression throwing errors"
1) Navigation screenshot home screen:
     CypressError: cy.task('compareSnapshotsPlugin') failed with the following error:

    at Object.fs.mkdirSync (fs.js:885:18)
    at Promise (/Users/me/Documents/app/node_modules/cypress-visual-regression/dist/plugin.js:25:10)

[2019-06-28 20:58] mjhea0 commented on #13
That means that directory does not exist. Set the path to your snapshots folder in the `screenshotsFolder` config.

command line example:

[code]

config file example:

[code]

[2019-07-01 13:52] mikeruddy commented on #13
I have that in my config. The error happens when I run `./node_modules/.bin/cypress run --env type=actual`. I see the screenshots in the baseline and actual directory, but the diff folder stays empty. I also get this warning text early on:

I'm using node v10.16.0 if that matters.

Here's what I put in my package.json run section

    "cypress:compare": "cypress run --env type=actual",

[2019-07-01 14:25] mjhea0 commented on #13
Does this directory exist - "/Users/me/Documents/fos_ncui/cypress/snapshots/diff/?

That's the directory that you specified.

[2019-07-01 16:18] mikeruddy commented on #13
/cypress/snapshots/diff/

It exists but it's empty. I noticed in your docker setup your files are slightly different. I wonder if that's contributing.

https://github.com/mjhea0/cypress-visual-regression/blob/master/docker/cypress/support/commands.js

[2019-07-01 16:23] mjhea0 commented on #13
probably related to this error: https://github.com/mjhea0/cypress-visual-regression/issues/9

what kind of machine are you running?

[2019-07-01 19:32] mikeruddy commented on #13
I'm on OSX 10.14

[2019-07-02 02:34] mjhea0 commented on #9
closing in favor of https://github.com/mjhea0/cypress-visual-regression/issues/13

[2019-07-02 02:34] #9 closed

[2019-07-02 03:18] mjhea0 commented on #13
@mikeruddy I just made [some changes](https://github.com/mjhea0/cypress-visual-regression/pull/14). Can you install version 1.0.3 and try running it again?

[2019-07-02 17:10] mikeruddy commented on #13
So it seems to output to the diff directory with a screenshot that's grayed out. The rest of the errors may be on my end.

“visualregression” couldn’t be moved to the trash.

    at ChildProcess.exithandler (child_process.js:287:12)
    at emitTwo (events.js:126:13)
    at ChildProcess.emit (events.js:214:7)
    at maybeClose (internal/child_process.js:925:16)
    at Socket.stream.socket.on (inter

[2019-07-02 17:54] mikeruddy commented on #13
[63495:0702/130554.435744:ERROR:gles2_cmd_decoder.cc(4439)] [.RenderWorker-0x7ff44d84c800.GpuRasterization]GL ERROR :GL_INVALID_FRAMEBUFFER_OPERATION : glDrawElements: framebuffer incomplete
[63495:0702/130554.435762:ERROR:gles2_cmd_decoder.cc(4439)] [.RenderWorker-0x7ff44d84c800.GpuRasterization]GL ERROR :GL_INVALID_FRAMEBUFFER_OPERATION : glClear: framebuffer incomplete
[63495:0702/130554.435788

[2019-07-12 07:30] jdvegmond opened #15 "Screenshots of long pages with modal are incorrect"
![Step2InformationPopup-base](https://user-images.githubusercontent.com/32638636/61110383-757a4b80-a487-11e9-83d7-8e1b57cedef8.png)

As can be seen in the attached screenshot, snapshots of long page with a modal show the modal multiple times. I think this should not happen.

[2019-07-12 12:36] mjhea0 commented on #15
The screenshot functionality comes from Cypress itself. You will have to open an issue with them directly. https://github.com/cypress-io/cypress/issues/2584 may be related.

[2019-07-12 12:36] #15 closed

[2019-07-30 23:23] mjhea0 commented on #13
Closing. Please re-open if it's still an issue.

[2019-07-30 23:23] #13 closed

[2019-07-30 23:23] #7 closed

[2019-08-15 09:05] solomono10 opened #17 "CypressError: cy.task('compareSnapshotsPlugin') failed with the following error:"
Running ` ./node_modules/.bin/cypress run --env type=base --config screenshotsFolder=cypress/snapshots/base` is fine but...

I am getting this error after running `./node_modules/.bin/cypress run --env type=actual`

`
CypressError: cy.task('compareSnapshotsPlugin') failed with the following error:

The 'task' event has not been registered in the plugins file. You must register it before using cy.t

[2019-08-16 09:15] #17 closed

[2019-09-23 21:22] helmutgranda opened #18 "Is there a way to change the threshold?"
I have an error message which color it is #d73a0f, for testing purposes I changed that to plain "purple", however Cypress is considering those colors the same giving me a false positive:

![image](https://user-images.githubusercontent.com/82293/65463949-5c463180-de1e-11e9-9d9e-bf49c441ef12.png)

Is there a way to improve that?

[2019-09-24 09:12] mjhea0 commented on #18
Yes, you can enter an optional threshold as stated in the readme:

https://github.com/mjhea0/cypress-visual-regression#to-use

Out of curiosity, I added an additional test case for your scenario: https://github.com/mjhea0/cypress-visual-regression/blob/master/docker/cypress/integration/main.spec.js#L47

Hope that helps!

[2019-09-24 16:02] helmutgranda commented on #18
It does help! Thanks so much for going the extra mile and creating an example, I remember I had seen some of this information and I was sure it was missing but I was wrong.

Is there a way to create a base and actual for each one of my tests without me having to create a ```compareSnapshot``` function? I guess being explicit on when a test is needed is better. However, since we do a lot of UI it m

[2019-09-24 18:04] mjhea0 commented on #18
I built out a more robust version of the visual regression library that works behind the scenes implicitly, similar to how you describe. However, this was for a commercial product that I am not ~able~ allowed to open source at this time.

[2019-09-25 16:09] #18 closed

[2019-11-11 10:45] jbutko commented on #9
I had a very similar issue that base snapshots were not created in specified folder which I have passed via `--config screenshotsFolder=...` flag in command line. I figured out that I did not passed `config` flag correctly. At first I did following:
[code]
See I duplicated `--config` option flag because I needed to specify file where regression tests were placed. And that's the issue. Based on [cy

[2019-11-11 13:53] mjhea0 commented on #9
@jbutko thanks for the note. I think it would be helpful to have that on the readme. Would you be up for updating it and submitting a PR?

[2019-11-11 15:28] jbutko commented on #9
@mjhea0 will try to find some time and do a PR.

[2020-02-24 19:42] 3590Duncan opened #21 "Upgrade to Cypress 4.02"
Hello, we are attempting to upgrade our CI to Cypress 4.0.2 but are being blocked because we are using the Visual Testing plug in. There seems to be a hard cap on using version 3.X.X with this plug in, Can you confirm we are able to have the dependancy upgraded to version 4? We have confirmed our visual tests pass on version 4.0.2

Thanks

[2020-02-25 15:46] mjhea0 commented on #21
Just upgraded: https://github.com/mjhea0/cypress-visual-regression/pull/22

[2020-02-25 15:46] #21 closed

[2020-03-03 18:08] vvanpo opened #23 "Error threshold description is contradictory"
https://github.com/mjhea0/cypress-visual-regression#to-use

If 1.00 means every pixel is different, that means 100%. In which case 0.50 would imply 50% of pixels, not 0.51%.

[2020-03-04 12:19] mjhea0 commented on #23
@vvanpo thanks for bringing this to my attention.

Does this wording suffice:

Value can range from 0.00 (no difference) to 1.00 (every pixel is different). So, if you enter an error threshold of 0.51, the test would fail only if > 51% of pixels are different.

More examples:

| Threshold | Fails when |
|-----------|------------|
| .25 | > 25%  |
| .30 | > 30% |
| .50 | > 50% |
| .75 | > 75% |

[2020-03-04 20:14] vvanpo commented on #23
@mjhea0 Yep, that clears up the ambiguity.

[2020-03-05 01:51] mjhea0 commented on #23
Updated https://github.com/mjhea0/cypress-visual-regression/pull/24

[2020-03-05 01:51] #23 closed

[2020-03-22 12:17] nweiser1 opened #29 "ssh connection error"
running this
npm install cypress-visual-regression --save-dev
getting this:
Error while executing:
npm ERR! C:\Program Files\Git\cmd\git.EXE ls-remote -h -t ssh://git@github.com/cypress-io/request.git
npm ERR!
npm ERR! ssh: connect to host github.com port 22: Connection timed out
npm ERR! fatal: Could not read from remote repository.

I am able to  install other things just fine. any ideas? on win

[2020-03-22 21:03] mjhea0 commented on #29
Not sure. Does [this](https://github.com/cypress-io/cypress/issues/6751) help?

[2020-03-26 11:48] #29 closed

[2020-03-26 11:50] mjhea0 opened #30 "Possible bug"
Found by @ kane77:

https://github.com/mjhea0/cypress-visual-regression/pull/28#issuecomment-602525325

[2020-04-02 13:54] mjhea0 opened #33 "override precedence rules"
When you set a default threshold in `compareSnapshotCommand` can that be updated at the `compareSnapshot` level? Which takes precedence?

Requires testing, documentation, and possibly changes to the library.

[2020-04-13 14:28] Gbuomprisco commented on #30
I think I am encountering this issue.

Something I haven't been able to understand is why my images are created with different sizes during the actual vs base runs. As a result, the library throws an error (although the tests do not fail).

[2020-04-14 01:20] mjhea0 commented on #30
Thanks for your feedback, @Gbuomprisco.

What do you think the expected behavior should be in this situation?

[2020-04-15 12:21] bpetetot opened #34 "Question: how to avoid to trash/override existing snapshots ?"
Do you have a recommendation or a way to avoid to trash/override existing snapshots when running `npm run --env type=base` ?

I would like to generate base snapshots of the new tests or new test cases only and to avoid specifying my `testFiles` to the `npm run --env type = base ` command.

Thanks for the project ;)

[2020-04-15 15:43] mjhea0 opened #36 "Move to GitHub Actions"

[2020-04-16 13:19] mjhea0 commented on #36
https://github.com/mjhea0/cypress-visual-regression/tree/github-actions

[2020-04-18 19:52] Gbuomprisco commented on #30
@mjhea0 I actually think the problem I encountered was related to Cypress and not this plugin specifically - I had to set a fixed viewport (but while headless they keep getting taken at a different resolution).

[2020-04-18 21:10] mjhea0 commented on #30
Ok. I'm going to close this then. Please re-open if you come across it again. Cheers!

[2020-04-18 21:10] #30 closed

[2020-04-20 22:50] rslemos opened #37 "Should fail when images are of different sizes"
The test should fail if base and actual images have different dimensions.

Currently, cypress-visual-regression just logs a message:

[code]

The test pass though.
*At the very least* the test should fail.
*At best*, the smallest image should be extended (transparent canvas?) before comparison, so we can inspect where elements have gone astray.

[2020-04-24 14:41] SchDen opened #38 "Screenshot duplicates on a every test run"
I create a simple test and run him several times

Test code
[code]
All it's ok, but I saw in a project tree some screensots for this test
![image](https://user-images.githubusercontent.com/1484977/80223532-1326bc00-8651-11ea-8b4c-b27722919769.png)

When I try to call `cypress run` I got this message
[code]
and all files expect `canvas-actual.png` was deleted.

Cypress uses `canvas-actual.png` but

[2020-04-24 15:59] SchDen commented on #38
Also about additional files - `filename (1/2 ...).png` - can I  just add them to a .gitignore or I need call `cypress run` after every update my tests for removing these additional files?

[2020-04-24 17:45] #38 closed

[2020-04-25 14:54] mjhea0 commented on #37
So, why are the actual images a different size?

[2020-04-25 20:24] wow64ext opened #39 "Plugin crashed"
While running test on cypress 4.4.1 with cypress-visual-regression ^1.2.0 I'm getting following error:

The following error was thrown by a plugin. We stopped running your tests because a plugin crashed. Please check your plugins file (`/Users/***/Repos/***-cypress/cypress/plugins/index.js`)

 Error: ENOENT: no such file or directory, open '/Users/***/Repos/***-cypress/cypress/snapshots/base/visua

[2020-04-26 01:05] rslemos commented on #37
Because of style changes. Paddings can get bigger or smaller. Borders can get thicker or thinner. Typeface changes. Kerning. The possibilities are endless.

[2020-04-27 13:06] mjhea0 commented on #37
Do you have some examples of this that I can use to recreate on my end? When I change CSS (like borders, etc), the image is not changing size.

[2020-04-27 13:08] mjhea0 commented on #39
Can you provide insight into your workflow? How are you running your tests?

[2020-04-30 10:28] Tay08 commented on #39
Hello @mjhea0 ,

I'm working with cypress-visual-regression and i've same difficulties to work my tests.

Here is my workflow :

I've configured support/commands.js
[code]

And i've configured plugins/index.js
[code]

Then, after have created my test "visual_testing.spec.js into "cypress/integration/examples" like this :
[code]

I run this cmd : `npx cypress run --spec cypress/integration/examples

[2020-04-30 17:07] mjhea0 commented on #39
This should fix it: https://github.com/mjhea0/cypress-visual-regression/pull/40

Use version 1.3.1 of the library to test: https://www.npmjs.com/package/cypress-visual-regression

[2020-04-30 17:07] #39 closed

[2020-05-01 18:09] ypatel26 opened #41 "pulgin crashes due to not able to find the actual.png file"
the file location is /screenshots/actual.png, but the it's looking under /snapshot/actual/<spc.js>/actual.png.

Not sure what am i doing wrong.  I added file path in the cypress.json.
"env": {
    "screenshotsFolder":"./cypress/snapshots/actual",
    "trashAssetsBeforeRuns": true
  }

I'm on ios:

[2020-05-01 18:27] mjhea0 commented on #41
What does your full project structure look like?

[2020-05-01 18:46] ypatel26 commented on #41
<img width="299" alt="Screen Shot 2020-05-01 at 2 44 49 PM" src="https://user-images.githubusercontent.com/27960304/80832326-7026f280-8bba-11ea-90e3-255be2b9ff46.png">

[2020-05-01 18:50] ypatel26 commented on #41
Never mind now it works.  Not sure what happened before.  going to close the issue.

[2020-05-01 18:50] #41 closed

[2020-05-07 23:47] Tay08 commented on #39
Hi @mjhea0
Thank you for your fix.
I allow myself to add this in the use of your plugin at the time of launching the script for the non regression. When launching the script, it's important to specify the directory like this: `cypress run --env type=actual --config screenshotsFolder=cypress/snapshots/actual`.
No mentioned into your documentation https://www.npmjs.com/package/cypress-visual-regress

[2020-05-26 12:52] greegus opened #42 "Plugin crashes when comparing actual with non-existing base screenshot"
Plugin crashes and stops the whole spec when trying to compare an actual screenshot with a non-existing base. This could happen when you forgot to generate base images before, but in my opinion, it should be handled as a regular error and the test should carry on to another block within the test file.

[code]

[2020-05-26 21:37] mjhea0 commented on #42
what's the use case?

[2020-05-26 21:39] MattTreichelYeah commented on #38
@SchDen I have this same issue with duplicate filenames, but you closed this without mentioning a solution? 🤔

[2020-05-27 08:47] SchDen commented on #38
Hi @MattTreichelYeah , I just moved to https://github.com/meinaart/cypress-plugin-snapshots. It's easier to use

[2020-05-29 17:33] Renaud009 commented on #17
@solomono10 How did you resolve this?

[2020-06-03 22:25] StallionV opened #43 "Compatibility with Typescript"
Are there any types available for Typescript compatibility?
I get an error when using this in VSCODE

`Property 'compareSnapshot' does not exist on type 'cy & EventEmitter'.`

e.g.
[code]

[2020-06-04 07:49] esbenam commented on #37
Would like to see this break too (maybe as an option?). This can happen if you remove a part of a component or if you change a text.

[2020-06-09 00:56] mjhea0 commented on #43
Sorry, no. Feel free to issue a PR.

[2020-06-09 00:56] #43 closed

[2020-06-10 09:56] greegus commented on #42
We are allocating some resources in our pipeline within the spec and those remain locked after the crash.

[2020-06-28 14:44] #37 closed

[2020-08-11 12:32] minubharathyr commented on #42
Plugin crashes even after upgrading to v1.4.0. If there is no base image because of some reason, then the whole run is getting aborted.

[2020-08-11 12:46] mjhea0 commented on #42
@minubharathyr have you looked at https://github.com/mjhea0/cypress-visual-regression/pull/45 PR? Thoughts?

[2020-08-11 14:14] minubharathyr commented on #42
Yeah, according to the fix, the file should be parsed only if it exists. Don't know why it is still failing.

**Error: ENOENT: no such file or directory.**

[2020-08-11 14:51] mjhea0 commented on #42
I haven't merged the PR yet. I'm still waiting on @greegus to add some tests. Want to help with that @minubharathyr?

[2020-08-11 15:14] greegus commented on #42
@mjhea0 adding those specs right away.

[2020-08-11 18:27] mjhea0 commented on #42
@minubharathyr version 1.5.0 is ready to go!

Thanks, @greegus!

https://www.npmjs.com/package/cypress-visual-regression

[2020-08-11 18:37] mjhea0 commented on #42
Closing this. Please re-open if you are still having issues @minubharathyr.

[2020-08-11 18:37] #42 closed

[2020-08-25 06:45] gabbersepp opened #48 "Make directories configurable"
I don't like the way how the snapshotdirectories are used.

I want to have a folder **cypress/screenshots** and a folder **cypress/snapshots/base**. I introduced the possibility to configure it by "env" property in cypress.json

[2020-08-25 16:02] skjnldsv opened #50 "Error [object Object] on node_modules/cypress-visual-regression/dist/command.js:33"
Hi, I'm having an error, but the logs are not helpful.
Snapshots files are in the base folder, diffs are not generated.

Cypress version 5.0.0.
Node version 10.x

![Capture d’écran_2020-08-25_17-52-27](https://user-images.githubusercontent.com/14975046/91197862-1f548000-e6fc-11ea-8adc-356aba688afd.png)

[code]
___
cypress.json:
[code]

[2020-08-25 18:26] skjnldsv commented on #50
Found the issue, it happens when the filename contains newlines and/or tabs.

[2020-08-26 07:10] gabbersepp commented on #50
Hi, I stumbled across another error and also found no helpful error in the log. After investigating a bit I found out that `reject(new Error(...))` does not work while `reject(...)` leads to a error message in the log. The `reject` is found in `plugin.js [parseImage]`.

Not sure why rejecting an Error leads leads to a corrupt error message in the log. maybe here a similar situation is responsible

[2020-08-26 09:10] gabbersepp opened #52 "Snapshots are different between different systems"
Hi,
I tried to make a snapshot of a bigger part, about 300x200 pixels big. On both, the development system and CI systems (both Windows), the size differs. So I made a snapshot of a smaller part (about 44x36 pixels) and disabled scaling: `    compareSnapshotCommand({ scale: false });`. Now the size is equal but the snapshot taken at our CI server shows some pixels (about 7%) that are not equal to

[2020-08-26 11:55] fabriciols commented on #50
I had the same exception, and my filenames are fine

![image](https://user-images.githubusercontent.com/11724509/91300616-f246b280-e779-11ea-93fa-bfb9f7e1e88f.png)

[2020-08-27 14:26] skjnldsv commented on #50
@fabriciols @gabbersepp it also does this if you don't have the base files in snapchost/base

[2020-08-27 14:29] mjhea0 commented on #50
@skjnldsv yes, so I think that by sanitizing the file names it will actually display this in the log since it won't be able to find the file: `Error: [object Object]`.

My guess is that it's blowing up somewhere else, causing the error to be caught somewhere where it's not being handled correct with `new Error(...)`.

[2020-08-27 14:30] mjhea0 commented on #50
Can you fix the broken build for your PR @skjnldsv. I'm curious to see the results of this.

https://travis-ci.org/github/mjhea0/cypress-visual-regression/builds/721099784

[2020-08-27 14:32] skjnldsv commented on #50
I have no ideas on how to fix this. My pr properly include the required deps, If the tests uses different ones, maybe the travis workflow should be adapted to use the dependencies from `cypress-visual-regression` ?

[2020-08-27 14:35] mjhea0 commented on #50
@gabbersepp `reject` needs to take an error object. It won't work if you pass a string to it. My guess is that it's blowing up somewhere else and sending a non-error object to `reject` which causes it to display `Error: [object Object]`.

[2020-08-27 14:36] mjhea0 commented on #50
Ok. I'll look into it.

[2020-08-27 15:07] mjhea0 commented on #50
changes: https://github.com/mjhea0/cypress-visual-regression/pull/53/commits/24dc7260c58305851c631ba322f0b2e8f53eec15

@skjnldsv

do you want to incorporate into your pr?

also, i'd like to add a few quick test cases. what's an example of a filename on your end that's causing it to break?

[2020-08-27 15:10] skjnldsv commented on #50
Thanks :)
here you go:

https://github.com/nextcloud/nextcloud-vue/blob/27c0c29302e57e3a9a03b2e9547a9995ca39faa3/tests/visual/components/AppSidebar/AppSidebar.visual.js#L71-L76

[code]

[2020-08-28 15:26] mjhea0 commented on #50
@skjnldsv

is this correct?

1. AppSidebar.vue-starred_null
1. AppSidebar.vue-compact_false
1. AppSidebar.vue-header_none
1. AppSidebar.vue-secondary_none

[2020-09-04 18:57] Rolandisimo opened #54 "compareSnapshot is not a function"
I cannot get the snapshot command to be available in my cypress.

I ran `npm install cypress-visual-regression`
Here's my setup (from this plugins docs):

// cypress/plugins/index.js
[code]

// cypress/support/commands.js
[code]

**Result**
<img width="392" alt="Screenshot 2020-09-04 at 21 50 32" src="https://user-images.githubusercontent.com/9778368/92275914-b2f62f80-eef8-11ea-9041-5c6ef9b6ac1c.p

[2020-09-06 22:19] mjhea0 commented on #50
@skjnldsv none of those names break the test. I'm going to hold off on merging https://github.com/mjhea0/cypress-visual-regression/pull/56 for now.

[2020-09-06 22:34] mjhea0 commented on #54
Which version of Cypress are you using? What does your exact project tree look like?

[2020-09-06 22:47] mjhea0 commented on #52
This is normal. Different versions of the same OS can render fonts differently. I'm surprised that the tests are failing though, since https://github.com/mapbox/pixelmatch has anti-aliasing detection on by default: https://github.com/mapbox/pixelmatch/blob/38b395747e583e6932a13f80d17d4cb7a606c742/index.js#L7

https://github.com/mapbox/pixelmatch/issues/57

If you'd like me to take a look at it, I'

[2020-09-07 05:57] Rolandisimo commented on #54
@mjhea0 thanks for answering.
// Versions
[code]

// Project tree
[code]

[2020-09-07 06:02] skjnldsv commented on #50
No, you need breaklines in the string.

[2020-09-07 06:05] skjnldsv commented on #50
This is only one string. This is using the new es6 multi line template string feature.

[2020-09-07 07:15] Rolandisimo commented on #54
Ok, a colleague helped find the solution which was to create `cypress/support/index.js` and add `import './commands.js';`. Sadly the plugin readme doesn't mention that

[2020-09-07 13:35] mjhea0 commented on #54
@Rolandisimo

Yeah, that file + import is added by default when you scaffold a new Cypress project. I just added a note about it to the README.

[2020-09-07 13:35] #54 closed

[2020-09-09 16:50] travis5491811 opened #57 "My test always pass"
My test always pass.

[code]

[code]

[code]

[code]

In the above example, the first run it takes snapshot as expected. Then i change something (added text) on the home page and re-run. The test re-runs and passes. When i look at the screenshots, `homePage-actual.png` is different than `homePage-actual (1).png` but it passed.

I also tried
[code]

I am running with
[code]

I want the test to fail

[2020-09-10 20:24] jprealini opened #58 ""actual" snapshots don't get thrashed"
Hi! First of all, thanks for this plugin... it's very useful and easy to implement
One issue I am finding is that after each test execution, files in the "actual" folder for a given test start accumulating (test-actual.png / test-actual (1).png /test-actual (2).png) and, apparently, the comparison is always done against the first, so if in latter executions there is an error (diff in the image) th

[2020-09-11 14:06] mjhea0 commented on #57
You need to run it once with a type of `base` in order to create the base, pristine snapshots to compare against:

[code]

[2020-09-11 14:06] #57 closed

[2020-09-11 20:24] mjhea0 commented on #58
Thanks for the feedback, @jprealini.

I never meant for the plugin to be used as a continuous check in a dev environment where constant changes are being made. It's meant to be used in CI where the comparison is done once.

That said, it's probably worth clearing out the "actual" folder if it exists before run so that it can be used for continuous checks.

Thoughts on that?

[2020-09-11 21:29] jprealini commented on #58
Thanks for the reply @mjhea0

As you know, sometimes even in dev environments there is a need to execute a set of tests more than one (while you are coding the tests, or modifying them due to a regression, or any other possible scenarios)

But basically I came up with a simple solution

[code]

Whenever I need to "recreate" the base images (do to some change or whatever) I execute the test:base wh

[2020-09-14 08:39] gabbersepp commented on #52
@mjhea0  I will try to create a test for this if I find some time. Until then I use a threshold of 20%

[2020-09-17 13:27] gabbersepp opened #59 "If a test is retried, the wrong snapshot is used"
If a test fails and a retry is used to run the test a second time, the plugin will use the first taken snapshot instead of the second one.

[2020-09-24 01:54] #48 closed

[2020-10-06 11:35] lucidity-joe commented on #57
@mjhea0 I'm having the same issue except I already have my base files, and I've set the threshold to 0. Are there any other possible problems that could cause this?

[2020-10-06 11:48] lucidity-joe commented on #57
Immediate follow up: I have managed to trigger a failing test but the only way to do it seems to be to run:

"./node_modules/.bin/cypress run --env type=actual"

Is there no way to have the normal tests run regression? Or is there a way to trigger the above without running all my tests that don't do visual regression?

[2020-10-11 19:09] raimund-schluessler opened #60 "Actual snapshot folder not found"
Since https://github.com/mjhea0/cypress-visual-regression/pull/49 the actual snapshot folder is by default not found anymore and visual regression tests fail, see https://github.com/nextcloud/nextcloud-vue/pull/1412.

The actual images are searched in `cypress/screenshots` (see https://github.com/mjhea0/cypress-visual-regression/blob/master/src/plugin.js#L109-L112 and https://github.com/mjhea0/cyp

[2020-10-11 19:19] raimund-schluessler commented on #60
I just remembered we configured a different default screenshots directory in our `cypress.json` file like so:
[code]

But judging from the readme, "The `actual` directory always points to the configured screenshot directory.", this should anyway just work, no?

[2020-10-11 19:31] raimund-schluessler commented on #60
Sorry, for the noise. The issue just was that we didn't provide the `config` object to the `getCompareSnapshotsPlugin` function.

[2020-10-11 19:31] #60 closed

[2020-10-15 15:51] TiziG commented on #58
Another way to overwrite any existing snapshots:

[code]

This utilizes the after:screenshot event of cypress to rename the screenshots from `test name (1).png` to `test name.png`.

Code from: https://github.com/cypress-io/cypress/issues/7955#issuecomment-705771372

[2020-10-16 15:45] gibbok commented on #57
In package.json you can create your own script and call it example:

[code]

and use it as:

[code]

[2020-10-16 15:48] lucidity-joe commented on #57
@gibbok This is essentially what I ended up doing to solve this issue. I just thing the documentation could be a bit clearer about the need to pass in type=base and type=actual every time, and there not seeming to be a default.

[2020-10-16 15:50] gibbok commented on #52
one solution could be to run cypress headless inside a docker container, same approach as https://loki.js.org/

[2020-10-16 16:02] gibbok commented on #57
@lucidity-joe thanks for your comment, yes actually I agree the docs could be improved 😄
How do you find a regression?
Currently I am adding this script

[code]

do you check if the diff folder created has some files using bash or similar or is it possible to do it in JS within the cypress tests?

Or should I use this function?
https://github.com/mjhea0/cypress-visual-regression/blob/286c566ac254d

[2020-10-16 19:06] mjhea0 commented on #57
Feel free to open a PR for this. :)

[2020-10-16 19:23] mjhea0 commented on #58
@TiziG would you be able to add that example to the readme?

[2020-10-23 12:38] JonFranchi commented on #52
Do you mean for both generating the base snapshots and generating actuals?  This is what I'm thinking of doing now.  Running into the same issue where macbook generated base images aren't matched when the cypress tests run in CI.

[2020-10-23 13:24] mjhea0 commented on #52
Yeah, that's how I currently do it to prevent this sort of thing.  The tests are ran out of a docker container so you could mimic how I set up my tests / project.

Going forward, I wonder if I detail how to do this easier and warn people about snaptshot diffs being different on different systems in the README?

[2020-11-05 14:37] skjnldsv opened #62 "Error `then function() {}`"
I have this weird error

![cypress-screenshot](https://user-images.githubusercontent.com/14975046/98254560-b9e30200-1f7c-11eb-9b97-5fc15f04c5cd.png)

The snapshots are correct, but somehow it breaks. Any clue @mjhea0 ?

[2020-11-05 15:45] skjnldsv commented on #62
So it turns out this is what it does when there are no base images. (I renamed actual to base, but forgot each files also have actual/base in their names)

Could we get a little more output on errors @mjhea0 ? :)

[2020-11-12 13:34] srikanthkyatham commented on #62
I could look in to it

[2020-11-16 15:33] lucidity-joe opened #63 "Comparisons are failing due scrolling capture being inconsistent"
I'm looking for either a way to turn off scroll so compare snapshot only compares what is currently visible in the viewport, or for some advice on getting the vertical scrolling and stitching together of snapshots to be more consistent.

I had previously had an issue with the resolutions being different between base and actual image with no clear reason, and found a solution in your issue where so

[2020-11-16 16:40] lucidity-joe commented on #63
Actual:
![image](https://user-images.githubusercontent.com/68896248/99281391-57b2b880-282a-11eb-92ce-ff8a9f7dc181.png)

Base:
![image](https://user-images.githubusercontent.com/68896248/99281438-67ca9800-282a-11eb-857a-a85f199c7e9e.png)

There was no difference between the base and actual runs.

[2020-11-16 22:11] Renaud009 opened #64 "compareSnapshotsPlugin doesn't work when setting screenshotsFolder with non-default path"
compareSnapshotsPlugin fails without any error when screenshot folder is not the same as cypress default (/cypress/snapshots)
{
  "screenshotsFolder": "./src/snapshots/actual", // nx suggested path
  "env": { "type": "actual" }
}

Same error as if there's not actual baseline images to compare to "- then      function(){}":
![image](https://user-images.githubusercontent.com/14914217/99314055-816dde

[2020-11-17 16:57] lucidity-joe commented on #63
It looks like this may be an issue with cy.screenshot() in general.

[2020-11-18 00:19] #33 closed

[2020-11-18 00:42] #36 closed

[2020-11-18 00:52] mjhea0 commented on #63
`compareSnapshotCommand` takes the same args as https://docs.cypress.io/api/cypress-api/screenshot-api.html#Arguments

[2020-11-18 00:57] mjhea0 commented on #63
As for your specific issue, try to target a specific element rather than the entire page.

[2020-11-18 01:09] mjhea0 commented on #62
Curious about your workflow... you wanted to basically update all of your base images at once by renaming the folders?

[2020-11-18 05:08] skjnldsv commented on #62
Yeah, our workflow have an issue, it renders differently because of the system fonts installed.
But ci is packing all snapshots into an archive and attaching it to the end result.
So I can manually download it, review the `actual` shots and rename them to make them as the `base` for ci.

[2020-11-18 18:56] mjhea0 commented on #62
so, it would be helpful to not add `-actual` or `-base` or `-diff` to the name, correct?

[2020-11-18 18:57] #50 closed

[2020-11-18 20:23] skjnldsv commented on #62
Definitely. But it's a very specific use case. Might not be suitable for others.
In any case, I think we should improve the error logging

[2020-11-19 09:44] maxzirps opened #68 "Error: Cannot find module './utils'"
Following the setup in the readme I get the following error:

[code]

Downgrading vom 1.5.3 to **1.5.2** fixes it

[2020-11-19 10:57] florianduport commented on #68
Same here :(

[2020-11-19 13:33] mjhea0 commented on #68
My bad.

1.5.5 is out. Should be good. I forgot to include the utils file here: https://github.com/mjhea0/cypress-visual-regression/blob/master/package.json#L42

[2020-11-19 14:04] #68 closed

[2020-11-29 16:34] hailee0710 opened #69 "Taking screenshot failed due to TypeError: Cannot read property 'apply' of undefined after previously failed run"
When running a test with this plugin, after a failed run (any error, such as: assertion failure), the next run will always throw error when taking screenshot. Here is the detail error:
`Command:     screenshot
cypress_runner.js:199793 Error:       TypeError: Cannot read property 'apply' of undefined
    at https://www.marbodal.se/:3655:16
From previous event:
    at takeScreenshot (https://www.mar

[2020-11-29 18:56] mjhea0 commented on #69
I need to be able to recreate this. Is the project that you're seeing this error on open source? If not, please provide the Cypress config along a sample of the tests.

[2020-11-30 16:08] hailee0710 commented on #69
I can add you to my project/repo. Does that sound OK for you ?

[2020-12-01 10:09] lucidity-joe opened #70 "Actuals have different aspect ratios to base images with no discernible reason why"
I am having a lot of issues with this plugin but the most frustrating by far is this. If I run with type=base then type=actual, with no other difference between the commands this issue still occurs:

The aspect ratios of the images taken for base and actual runs are different and causing the actual runs to fail when they should not.

I'll upload two snapshots below taken on identical runs besides

[2020-12-01 17:16] mjhea0 commented on #70
The plugin works on top of the Cypress [screenshot](https://docs.cypress.io/api/cypress-api/screenshot-api.html) API, so you'll need to experiment with it. You can pass [arguments](https://docs.cypress.io/api/cypress-api/screenshot-api.html#Arguments) to the command like so:

[code]

There are a number of open issues that deal with your concerns. Check out https://github.com/cypress-io/cypress/iss

[2020-12-01 17:16] #70 closed

[2020-12-01 17:58] mjhea0 commented on #69
yes

[2020-12-04 23:23] jarretmoses commented on #57
I have been falling into the same issue. If I am following this thread correctly does this library not do a diff on its own using the `compareSnapshot` command and thus I need to use a `.expect`?

[2020-12-10 12:18] poeti8 commented on #52
@mjhea0 that would be very helpful. I don't know exactly how I use Cypress in Docker with my local create-creact-app project.

[2020-12-10 13:40] JonFranchi commented on #52
Coming back to this...  I ended up implementing the same.  If somebody on the team wants to run visual snapshots locally, that needs to be run inside docker. We have a shell script for local docker cypress test run and a separate one for retaking the snapshots using cypress in docker.  The script to retake snapshots has the path to the snapshots folder mounted as a volume.

Otherwise tests are run

[2020-12-10 13:48] poeti8 commented on #52
@JonFranchi would you be able to share scripts? This is the exact setup I need.

[2021-01-05 18:48] guidiego commented on #69
I got the same error!

[2021-01-06 01:45] mjhea0 commented on #69
I have not been able to recreate this. Can you share a repo or something with me so I can at least reproduce the error?

[2021-01-06 01:51] guidiego commented on #69
@mjhea0 In that moment I remove the plugin to be able to run, but you can found my code at: open-nps/open-nps

[2021-01-06 22:47] mjhea0 commented on #69
@guidiego can you configure the plugin so I can see it breaking on GitHub Actions? Maybe do that on a new branch and then I'll fork it to see if I can recreate and fix locally.

[2021-03-19 12:29] asharpefr commented on #59
Also facing the same issue

[2021-03-30 11:50] jehon opened #74 "Enhancement: "cypress open" should allow overriding baseline screenshot automatically"
When I open the cypress, I am making up my tests, modifying the app to be more testable, etc... But the screenshot comparison fail "each time" (hum, yes, a bit of exaggeration here) a make a modification. So actually, I do an "rm -fr .../baseline" before each test, but that's not very top.

I would like to have a mode where Cypress-visual-regression would automatically erase screenshots. I anyway

[2021-04-01 09:48] nelson-amorim opened #75 "Use errorThreshold from global options"
Hi! First of all, thank for this module. It is really helpful =)

So, I have seen that [here](https://github.com/mjhea0/cypress-visual-regression/pull/72) it was added `errorThreshold` in global options.
But as far as I tested and debugged the code, it is only took in consideration if we pass an object as second argument.
I will try to explain better with code:

[code]

If this is not intentional,

[2021-04-26 04:06] HamzaMurtaza opened #76 "Cant figure why it is taking two snaps of the same page?"
Ever since i implemented this library, it always has been taking two pcitures for the base, I can't find any documentation as to why this is happening?

Can you please shed some light into this? Is this is how it is supposed to work??

As you can see there are two Login page snaps and two Forgot page snaps?

![image](https://user-images.githubusercontent.com/26311098/116027533-2a610680-a623-11eb-9

[2021-04-26 15:11] mjhea0 commented on #75
Yes, this is not intentional. Feel free to open a PR. Thanks!

[2021-05-27 15:03] eric-burel commented on #76
It's also problematic when we want to add those screenshots to the git repository, because they change systematically. I can't tell if they are necessary or not.

[2021-05-27 18:59] mjhea0 commented on #76
@eric-burel and @HamzaMurtaza - I should have some time to look into this over the weekend. Thanks!

[2021-06-05 14:12] mjhea0 commented on #76
I think this PR may fix this issue. https://github.com/mjhea0/cypress-visual-regression/pull/35

Would either of you be able to test this out real quick?

[2021-06-10 08:46] eric-burel opened #81 "Enhancement: hide Chromatic ignored elements (or more globally elements based on a selector)"
Hi, small enhancement suggestion: I've setup cypress-visual-regression, so it also respects [Chromatic ignored elements](https://www.chromatic.com/docs/ignoring-elements), for those who also use Storybook for visual regression testing at the unit level.

Here is the command I've created: it overrides `compareSnapshot` with a "before" step that removed selected elements from the page.

[code]

Usag

[2021-06-22 16:40] mjhea0 commented on #34
Closing due to lack of activity.... feel free to reopen

[2021-06-22 16:40] #34 closed

[2021-06-22 16:40] mjhea0 commented on #52
Closing due to lack of activity.... feel free to reopen

[2021-06-22 16:40] #52 closed

[2021-06-22 16:41] mjhea0 commented on #58
Closing due to lack of activity.... feel free to reopen

[2021-06-22 16:41] #58 closed

[2021-06-22 16:41] mjhea0 commented on #59
Closing due to lack of activity.... feel free to reopen

[2021-06-22 16:41] #59 closed

[2021-06-22 16:41] mjhea0 commented on #62
Closing due to lack of activity.... feel free to reopen

[2021-06-22 16:41] #62 closed

[2021-06-22 16:41] mjhea0 commented on #63
Closing due to lack of activity.... feel free to reopen

[2021-06-22 16:41] #63 closed

[2021-06-22 16:42] mjhea0 commented on #64
Is this still an issue @Renaud009?

[2021-06-22 16:42] mjhea0 commented on #69
Closing due to lack of activity.... feel free to reopen

[2021-06-22 16:42] #69 closed

[2021-06-22 16:43] mjhea0 commented on #74
This sounds good. Would you like to open a PR?

[2021-06-22 16:43] mjhea0 commented on #76
Closing due to lack of activity.... feel free to reopen

[2021-06-22 16:43] #76 closed

[2021-06-22 16:44] mjhea0 commented on #81
This sounds good. Would you like to open a PR?

[2021-06-22 17:04] eric-burel commented on #81
this would mostly be a documentation PR, do you think this would fit somewhere at the end of the Readme, in an new "Do something before the screenshot" section for instance or "Tips and tricks"?

[2021-06-22 21:27] Renaud009 commented on #64
No, actually it was my mistake, the second param to getCompareSnapshotsPlugin was missing.
We need to pass both **on** and **config** to getCompareSnapshotsPlugin(on, config) or the cypress configuration is.. of course ignored by the plugin.

[2021-06-22 21:27] #64 closed

[2021-06-23 11:49] dariuszteooh opened #83 "Can't get the compareSnapshot to ever fail"
Hi folks,

I followed the steps in your readme, added a `"failSilently": false` to the "env" section of my cypress.json, even tried passing this parameter in compareSnapshotCommand, no luck. I just can't ever get the tests to fail. I even tested this by taking a base image of one page, then edited the test to navigate to a different page and still try to compare it, and it doesn't fail even if the

[2021-06-23 16:02] mjhea0 commented on #83
@dariuszteooh which commands are you running?

[2021-06-23 16:08] dariuszteooh commented on #83
@mjhea0 thanks for getting back to me. Which commands exactly do you mean? I've pasted a code snipped of my test. Is that not what you mean here?
I start the test with
`./node_modules/.bin/cypress run --env configFile=build,imageComparisonRun=true --spec \"cypress/integration/visual_regression/visual_regression_tests.js\"`

Inside my test I only use cy.compareSnapshot('name)

Thanks

[2021-06-23 16:11] mjhea0 commented on #81
"Tips and Tricks" sounds good at the end of the README. Thanks!

[2021-06-23 20:37] mjhea0 commented on #83
You first have to get the base images:

[code]

Then you can take the new images and compare them with the base to find regressions:

[code]

[2021-06-23 21:03] dariuszteooh commented on #83
Ah, I think you're right. You see, I did have the base images, but then I was running the tests without the **_type_** set to actual, just wasn't passing this parameter at all. I've done that now and it looks correct.

Thanks a lot for the help, I appreciate the quick response.

[2021-06-23 21:03] #83 closed

[2021-06-24 14:24] vineetbrikl opened #84 "Intermittent Error: [object Object] on compareSnapshot command"
![image](https://user-images.githubusercontent.com/78526621/123961937-18149780-d9db-11eb-8138-a276e85178b3.png)
All test in this screenshot are using Cypress visual regression to compare snapshot. Some of them pass and some fail because of the object Object error.

Does someone know how to fix this? I don't know what more details are relevant to be share. But please let me know if anything else is

[2021-07-08 09:18] adrienlucas commented on #84
Same here, it thrown from https://github.com/mjhea0/cypress-visual-regression/blob/19cfe6ff583671c5b873a3aa91ae289a9ba91b73/src/command.js#L55  and the `results.error` is an empty object...

[2021-07-08 09:20] azz0r commented on #84
Also having the same issue, seems random though

[2021-07-08 10:01] vineetbrikl opened #85 "[Enhancement] Add retryability to compareSnapshotCommand to reduce flakiness for unstable DOM"
I am mostly using this plugin to compare a THREEJS canvas which has no useable state to rely cypress waits on.
It would be good to implement retryability (based on errorThreshold) with a timeout to reduce flaky failures.

I found [cypress-recurse](https://github.com/bahmutov/cypress-recurse) could help with that and also tried to fork this repo to implement but I am new and not too proficient with

[2021-07-08 10:21] vineetbrikl commented on #84
[object Object] is too vague of an error. I was able to reproduce the error locally by deleting the base image and running in actual mode. But this doesn't seem to be the case in CI, since base files are all stored in git and the CI process seems to be having appropriate access rights since other images in the same folders pass successfully.

I know this is an obvious and stupid way to reproduce t

[2021-07-08 17:25] tdikarim commented on #84
Hey,
I don't know if my issue is the same for you. I solved by fixing a separate folder for DIFF
like here :
describe('xxxxxxxxxx',
    {
      env: {
        SNAPSHOT_BASE_DIRECTORY: 'cypress/snapshots/base',
        SNAPSHOT_DIFF_DIRECTORY: 'cypress/snapshots/diff',
        failSilently: false
      }
    },

[2021-07-08 18:37] Krismix1 commented on #84
I am running into a similar situation in this is what I have discovered:
In plugin.js, there is a try-catch block, which catches exceptions and generated an "error" object.
https://github.com/mjhea0/cypress-visual-regression/blob/19cfe6ff583671c5b873a3aa91ae289a9ba91b73/src/plugin.js#L103
This return value is then checked in command.js.
https://github.com/mjhea0/cypress-visual-regression/blob/19cf

[2021-07-08 18:49] Krismix1 commented on #74
I have stumbled upon this feature request, and I want to point out that it might not be currently possible due to this external dependency: https://github.com/cypress-io/cypress/issues/15077.
In short, when running all tests in Cypress GUI mode, the name of the test spec file, and thus the name of the folder where base snapshots are stored will not match with the actual test spec file names.

[2021-07-08 23:04] abhishal76 opened #86 "How to set two environment variables?"
Hello,

How and where i can set two environment variables for base and diff snapshots? can you please share an example?

[2021-07-08 23:39] mjhea0 commented on #86
https://github.com/mjhea0/cypress-visual-regression/blob/5bb49e4742e2df0b820d92e8a72d3b3849714986/docker/cypress/integration/main.env.spec.js#L2

[2021-07-08 23:39] #86 closed

[2021-07-09 09:38] dariuszteooh opened #88 "Small differences in scolling cause the tests to fail"
Hi,

I'm running the tests on a website that's quite long so even in a viewport of 1920x1080 needs to be scrolled down quite a bit. The problem is, the scrolling speed or distance seems to differ ever so slightly between the tests, causing them to fail.
Here's an example. The page is https://roomkey.co/creating-a-room/

Excuse the large images.

This is the base image:
![create-a-room-page-base](h

[2021-07-09 12:13] mjhea0 commented on #88
Have you tried increasing the error threshold?

[2021-07-09 12:15] dariuszteooh commented on #88
As you can see, the differences in scrolling make the diff quite
significant, so increasing the threshold high enough to ignore that will
just render the tests useless, as they won't pick up actual changes.

On Fri, 9 Jul 2021, 13:14 Michael Herman, ***@***.***> wrote:

[2021-07-09 12:23] mjhea0 commented on #88
Why are you testing the full page? I would isolate it to specific elements. The larger the image, the greater the chance something like this is going to happen.

I'm going to close this since it's unrelated to the tool.

[2021-07-09 12:23] #88 closed

[2021-07-13 01:06] PeterDekkers commented on #84
To me it looks like some part of the code is ignoring the `screenshotsFolder` setting in `cypress.json`. When I let the error bubble up as per @Krismix1's suggestion then I get an error for a path that doesn't match my setting in `cypress.json`.

[2021-07-13 01:09] PeterDekkers commented on #84
Ah right, of course, so that would be due to this bug in Cypress I assume: https://github.com/cypress-io/cypress/issues/3090

[2021-07-15 12:34] #81 closed

[2021-07-20 04:28] MSakamaki opened #90 "Provide TypeScript definitions"
thanks for the great library.
this is a re-proposal of #43 .

I'm getting the idea that I'd like to have TypeScript support for this library, as it currently has no type definitions, making it difficult to develop in VS Code.

Is there any other work that needs to be done to accept this PR? (Sorry, I gave you the PR #87 first...)

[2021-07-23 22:49] MSakamaki commented on #90
Close issues because #87 has been merged

[2021-07-23 22:49] #90 closed

[2021-07-24 07:55] MSakamaki opened #92 "Typescript error: Property 'compareSnapshot' does not exist on type 'cy & EventEmitter'"
Sorry, I overlooked the build.

Because the `command.d.ts` is not copied to the `dist` folder, typescript gave me an error when I used 1.5.9.

[code]

So I would like to add a command to copy the `d.ts` file to `dist` at build time.

<img width="1062" alt="スクリーンショット 2021-07-24 16 49 28" src="https://user-images.githubusercontent.com/2183053/126861749-5e43415c-0b9a-485b-a970-6aeb1b6e6e42.png">

I'v

[2021-07-24 14:23] MSakamaki commented on #84
This problem seems to be caused by the fact that Cypress internally uses Socket.io to communicate between node and browser.
In socket communication, the contents of the error object cannot be passed on, so an empty object is returned.
https://stackoverflow.com/questions/65123188/socket-io-emit-empty-object-if-its-an-error

As a workaround, you need to do some sort of serialization to bubble up the

[2021-07-28 22:47] #84 closed

[2021-07-28 22:56] #92 closed

[2021-07-29 07:26] amuttsch commented on #59
We also have retries enabled and are facing this issue. After digging in the docs and issues for a bit I came across this issue: https://github.com/cypress-io/cypress/issues/9126

Apparently, if retries are enabled and you use `.screenshot()`, the attempt is always appended to not override any preexisting screenshots. They suggest using https://docs.cypress.io/api/plugins/after-screenshot-api#Synt

[2021-07-29 07:42] amuttsch opened #96 "utils-browser.js is missing in /dist folder in release 1.5.10"
The latest version is missing the `utils-browser` file in the `dist` folder from the npm package. This leads to the following error when trying to execute any Cypress tests:

[code]

![image](https://user-images.githubusercontent.com/5488288/127451874-b0c8d85d-c161-4b0a-8044-72258e32699e.png)

I guess sth. went wrong while building / bundling the release. Can you please publish a new version with

[2021-07-29 13:18] mjhea0 commented on #96
https://github.com/mjhea0/cypress-visual-regression/pull/95

[2021-07-29 13:18] #96 closed

[2021-08-10 16:54] strowk opened #97 "When run from cypress-open, receive file names like <snapshot>-actual (1).png"
First of all - great tool, much appreciated!
Have only tried it recently and usage from `cypress run` seems to be working ok and all is clear. However when I run `cypress open` as usual for TDD, I started to see that each run if test produces a new image with number at the end of the name ( apparently to not override existing one ). Is this somehow could be avoided? Maybe there is config option? T

[2021-08-25 07:40] Anupku77 opened #99 "don't fail test on screenshot diffs"
There should be an env variable to stop failing whole test case when there is screenshot diffs.
like  "failOnSnapshotDiff":false
This will help to carry on with rest of the cases.

[2021-08-25 23:27] aaronlow opened #100 "Weird actual images from Jenkins CI?"
When using this in our Jenkins CI pipeline, the actual images that are stored as artifacts are turning out weird. Any ideas if this is due to this plugin or due to Jenkins?

In this example, you can see a duplicated bottom section ("Campaigns").

![image](https://user-images.githubusercontent.com/2181434/130877272-ae5b82f5-3042-40d3-a413-5da177b8d216.png)

[2021-08-26 16:43] #100 closed, assigned to nobody

[2021-09-07 14:05] dankerk opened #101 "Error: executing a cancelled action"
When I try to run the command to take the base screenshots or when I just run cypress it throws this error:

(./node_modules/.bin/cypress run --env type=base --config screenshotsFolder=cypress/snapshots/base)

[code]

from my package.json:
    "cypress": "^8.3.1",
    "cypress-visual-regression": "^1.6.1",

I used the exact steps from the readme and it does in fact take the screenshots, but the te

[2021-09-07 14:52] Zaista commented on #97
For me even 'cypress run' doesn't work and just keeps adding new screenshot files. Tried with 7.6.0 and 8.3.0 cypress versions, same thing

[2021-09-07 15:05] mjhea0 commented on #97
Which commands are you using?

Typical workflow is to take the base images and then compare them:

[code]

[2021-09-07 15:09] mjhea0 commented on #101
Are you using this project?

https://github.com/Terrycoco/react-cypress-boilerplate/blob/master/node_modules/rxjs/src/internal/scheduler/AsyncAction.ts#L93

[2021-09-08 06:43] dankerk commented on #101
No I'm not, but it turns out visual regression works fine on some other pages that don't use rxjs. So it's most likely nothing wrong with this package. I'll dig into it some more. Thanks!

[2021-09-08 08:06] dankerk commented on #101
It turns out the culprit originated from using the rxjs operator debounceTime. Because Cypress stops the execution of things on the page at some point, the last value emitted from the observable has been cancelled before it could get past the debounceTime operator. This is why it didn't occur to normal users of the page. Changing debounceTime for throttleTime worked as throttleTime emits a value d

[2021-09-08 08:06] #101 closed

[2021-09-09 09:22] Zaista commented on #97
Seems that I'm incapable of reading the documentation, the run command works with proper commands.

[2021-10-28 07:31] k4y4k opened #104 "dump a base64-encoded diff to console on fail?"
Hey 👋

I really like this as an alternative to something like `cypress-image-snapshot`.

That said, however, I am (sorely) missing a feature.

Would it be possible to dump a base64-encoded image string to the console on test fail? I don't have the infrastructure to upload or cache a diff image, but copy/pasting a string from the logs is easy peasy.

I'm willing to throw together a PR if someone co

[2021-11-10 01:13] mjhea0 commented on #104
HI @k4y4k,

I think that's a great idea. You could probably add that logic to the following if statement:

https://github.com/mjhea0/cypress-visual-regression/blob/master/src/command.js#L60-L63

Does that help?

[2021-11-10 03:44] k4y4k commented on #104
Hello again 😄👋

Sure, that helps. I'll take a look and throw together something soon.

[2021-11-24 13:55] JonFranchi commented on #76
I'm not sure how that problem in the PR relates to this one @mjhea0 .  In this case, for any new created snapshot, two are created. One has a timestamp, the other does not.  I have been walking the code but haven't (yet) figured out why this is necessary.

[2021-11-25 12:09] dan-cooke opened #105 "Plugin has issues when saving base images via the GUI `cypress open` or `open-ct`"
Hi there!

It seems that when `compareSnapshot` is used in a component test - it places the files under `cypress/snapshots/actual/All Specs`

And it seems that running `npx cypress open-ct --env type=base` crashes with

[code]
It is trying to copy **FROM**
`'./cypress/snapshots/base/components/MyComponent/__tests__/MyTest.visual.spec.tsx/<key>-1637840875914.png'`
**TO**
`'./cypress/snapshots/base/

[2021-11-26 11:19] dan-cooke commented on #105
Okay turns out its not realted to component testing but when I run with `npx cypress open-ct`

Related to https://github.com/cypress-io/cypress/issues/2319

[2021-12-03 05:49] lasithdilshan20 commented on #17
Hi ,

I have a same issue.

CypressError
cy.task('rp_screenshot') failed with the following error:

The task 'rp_screenshot' was not handled in the plugins file. The following tasks are registered: compareSnapshotsPlugin, copyScreenshot, generateReport

[2021-12-09 11:36] Zaista opened #108 "Feature: generate diff image only on failed tests"
Not sure if this is a way to go regarding new feature request, but here it goes:

Currently diff images are generated and saved for all tests no matter if they fail or not.
Usually you wouldn't care about successful tests, so the implementation could be changed to just save images for failed tests.
Or to have a flag at least to switch between the two behaviors.

I checked the plugin, and I don't t

[2021-12-10 06:38] sschneider-ihre-pvs opened #109 "Make base and actual in the same test"
Currently I am experiencing layout difference after some interaction when expansion panels are open and closed and I want to find out what is wrong. so I would take a screenshot before this happens and after to see the difference. Is that possible?

[2021-12-10 13:46] mjhea0 commented on #109
You can use `screenshot` for that sort of debugging.  https://docs.cypress.io/api/commands/screenshot#Arguments

[2021-12-10 13:46] #109 closed

[2021-12-11 16:03] mjhea0 commented on #108
This is a great idea. Want to run with it?

[2021-12-12 21:00] Zaista commented on #108
I can create a PR tomorrow

[2021-12-13 09:04] sschneider-ihre-pvs commented on #109
how would I do that? there is no diff option as far as I can see.

[2021-12-14 16:24] rileytb opened #111 "Base run generating multiple snapshot images"
When I do a base run to generate snapshots, each test is generating 2 snapshots:
- base.png
- base-*big number*.png

This creates a lot of churn in our repo because now instead of just having base.png be updated, we have a delete/create of the numbered image:
![image](https://user-images.githubusercontent.com/5489576/146037982-28dff1e4-fed5-4dba-b53a-5f0e026feefe.png)

The number changes every tim

[2021-12-17 10:04] sthuber90 commented on #111
I think this is the same problem as in #76 . However the PR #35 did not  change it. Up until now @eric-burel's solution in https://github.com/mjhea0/cypress-visual-regression/issues/76#issuecomment-849726637 seems to the only thing that works. It seem that only @mjhea0 can answer what these files with the _big number_ are used for.

[2021-12-20 15:09] rileytb commented on #111
Thanks, that definintely looks like the same issue I am seeing. Because that issue is closed (and the solution didn't really solve it), I will leave this issue open. Or should the other one be reopened where it has more history to it?

[2021-12-21 05:50] sthuber90 commented on #111
I would leave yours open. Just meant to link the other issue as reference that this still exists and hasn't been resolved

[2022-01-20 09:09] palapiessa opened #112 ""cy.task('copyScreenshot') failed with the following error""
I followed set-up instructions for v 1.6.3 and added screenshot comparison to test.
When test runs I get error like the one above or for "deleteScreenshot".

Is it really required to create these functions to plugins-file?

Here is the error message:

cy.task('copyScreenshot') failed with the following error:

The task 'copyScreenshot' was not handled in the plugins file. The following tasks are r

[2022-01-20 10:35] palapiessa commented on #112
I guess I did not add necessary lines to cypress/support/commands.js

[2022-01-20 10:35] #112 closed

[2022-01-21 09:33] mstalfoort commented on #111
at the moment I've fixed it (for now) this way for myself:

`npm install del-cli`

and added these commands in my `package.json` file

[code]

which in turn gives me the following situation: I run the `npm run base` command which generates new base images (including the ones with the timestamp in it) and when that command finishes it will remove all base images which have the timestamp in it

[2022-01-26 14:42] clmntrss commented on #108
@mjhea0 Hi, any update about the PR ?

[2022-02-04 15:06] Big0s opened #113 "[Enhancement] Pixelmatch options"
Hello,
Would be nice to have possibility to pass some variables to pixelmatch f.e.`includeAA` or `diffColor` because not always default colors are best solution.

Also can You tell me please, why to count percentage You are using ** 0.5 ?
https://github.com/mjhea0/cypress-visual-regression/blob/993b2e8f2e3887a86f0208ef082b311dce5bf504/src/plugin.js#L104

[2022-02-09 11:06] Big0s commented on #111
Without  any additional package:
[code]

[2022-02-17 01:05] lgenzelis opened #114 "[Enhancement] Pixelmatch threshold"
Hey @mjhea0 ! Congrats on the awesome library, thanks a lot for creating it. This proposal is related to #113 , but I'm specifically interested in the threshold option passed to `pixelmatch`. Currently, you're using a hardcoded value of `0.1`:

[code]

It took me a while to realize why some of my tests were passing even though I had a css error which caused background differences. 😅 I'd like to be

[2022-02-17 01:07] lgenzelis commented on #114
I created a PR, #115 , to address this proposal. I gave the new option the name `perPixelMismatchTolerance` (it's the best I could came up with.. we can't re-use `threshold` since that has a different meaning in `cypress-visual-regression`)

[2022-02-17 13:35] DavidLS commented on #114
I'd really loved to have this implemented! Also, great library!

[2022-02-23 13:08] GeofoxCoding opened #116 "Can't get plugin to run"
Hello,

I just tested Cypress in a fresh Angular workspace successfully. Now I would like to be able to screenshot a part of my view and compare it to a given/existing screenshot.

This package here is the only one I found which seems to be compatible with my current cypress version 9.5.

I followed the setup instructions for typescript but I get an error on typescript startup:

 _An unexpected er

[2022-02-26 16:24] mjhea0 commented on #74
Closing due to inactivity...

[2022-02-26 16:24] #74 closed

[2022-02-26 16:25] mjhea0 commented on #85
Closing due to inactivity...

[2022-02-26 16:25] #85 closed

[2022-02-26 16:25] #99 closed

[2022-02-26 16:25] #104 closed

[2022-02-26 16:28] mjhea0 commented on #116
Are you sure that error is coming from this library?

[2022-02-28 10:57] GeofoxCoding commented on #116
Hi, yes I am.

As I wrote above I created a minimal new Angular workspace/app => works. I added cypress to the workspace and ran basic test => works.

My cypress/plugins/index.ts is nearly empty at this point. It only contains:
module.exports = (on, config) => {}

As soon as I follow your typescript integration instructions:
https://github.com/mjhea0/cypress-visual-regression#typescript

The error

[2022-02-28 11:05] GeofoxCoding commented on #116
Hi,
I had another closer look and I found out that I missed the "cypress-visual-regression" under types in cypress/tsconfig.json.
After some restarts it seems to work now.

[2022-02-28 13:40] #116 closed

[2022-03-09 18:51] MrRahulR opened #118 "Configured `actual` screenshot directory"
### Problem

- While executing the Cypress tests, I'm running it with different viewports. I need to create separate folders for each running viewport.

- For the `base` and `diff` it already has configured by `SNAPSHOT_BASE_DIRECTORY` and `SNAPSHOT_DIFF_DIRECTORY` configuration.

 - Unfortunately for the `actual` the plugin has a defined default screenshot folder and can't be overwritten, so test

[2022-03-14 03:13] conrad-scherb opened #119 "Configure diff & base directories with package/cypress.json or .env"
**Please Describe The Problem To Be Solved**
Using environment variables to configure base and diff directories can lead to fragmentation because the environment variables need to be set in both CI and dev environments, which may not be automatically configured for every developer on larger projects.

**Suggest A Solution**
Allowing the diff & base directories to be set in either `package.json`, `

[2022-03-15 22:21] conrad-scherb commented on #119
After digging a bit further into this I found out you can do this through the `env` part of Cypress.json as per this link: https://docs.cypress.io/guides/guides/environment-variables#Setting.

[2022-03-15 22:21] #119 closed

[2022-03-17 02:48] ChiuWeiBin opened #120 "Error on tsconfig.json - Cannot find type definition file for 'cypress-visual-regression'."
**However I am able to use the plugin and seems no problem, any ways to suppress the error?**

[code]

![image](https://user-images.githubusercontent.com/65437899/158725948-369712a7-9958-40d3-931f-9324451b5512.png)

[2022-03-23 02:45] jaythomas commented on #38
Yeah except cypress-plugin-snapshots is no longer maintained and relies on you having a pretty old cypress version installed.

[2022-03-23 10:53] MrRahulR commented on #120
I'm using this with TypeScript and tbh I faced the same problem but I removed it from `tconfig.json` and still, my code is working properly for visual regression. If you need you can give it a try or maybe like everyone say...

[code]

[2022-04-15 09:48] bluepioupiou opened #122 "Beeing able to screenshot only part of the interface"
I have a lot of tests in Cypress but they focus on different parts of our interface. When I want to see that a list display correctly, I try to take only it in the screenshot. Is it possible to use your comparescreenshot with css filter or directly on component like Cypress does ?

Otherwise I will have a lot of false-positive since when i'll change the tool bar, ALL the images will have regressio

[2022-04-19 18:02] #108 closed

[2022-04-20 18:52] Zaista commented on #118
I'm having trouble understanding your problem:
It sounds like all you really need is to configure the `screenshotFolder` property, which exists in vanilla cypress, which also serves as a destination for `actual` images in this plugin.
But then I saw that you already specified this property in your example repo in the `package.json` scripts and set it to `cypress/integration/actual` path.
Did you j

[2022-04-22 17:49] MrRahulR commented on #118
Okay let me try to rephrase it,
I am running tests on multiple viewports and I have created a folder for each viewport in the `base` folder.

1. Executed the base commnad -
`cypress open --env type=base --config screenshotsFolder=cypress/snapshots/base`

Now the `snapshots/base` will show the below folder structure.

<img width="311" alt="Screenshot 2022-04-22 at 11 15 29 PM" src="https://user-ima

[2022-04-28 15:01] Zaista commented on #118
Ok, I think the problem is that `cy.compareSnapshot()` command was designed to accept only a `name` of the image, and not a `path` of the image. Quick glance at the code shows that there's no proper parsing in place, and weirdly enough, `base` run creates proper folder structure as you would expect, but `actual` run fails as seen in your screen shot, because it recognizes a size folder as part of

[2022-04-29 15:01] DamienCassou opened #124 "Problem running with the Cypress runner"
Hi,

I face no problem with this plugin when using `cypress run`. But, if I use `cypress open`, then either the command never fails (when using the configuration in the plugin's README) or it always fail (when adding `{"env": {"type":"actual"}}` in cypress.json). In the latter case, the comparison fails because the 2 pictures are of different resolutions (even though the test itself specifies a vi

[2022-04-29 18:01] iseabock commented on #54
I'm having the same issue. I have imported commands in support/index.js and I'm on Cypress 9.0.0

[2022-04-29 22:40] mjhea0 commented on #124
No, the Cypress Runner GUI is not supported unfortunately.

[2022-04-29 22:40] #124 closed

[2022-05-01 13:55] #120 closed

[2022-05-03 14:33] adekbadek commented on #99
I was looking for such feature, too – and there are 👍 s so that seems like activity ;)

[2022-05-11 03:57] randomVariable2000 commented on #124
@DamienCassou Maybe you need this https://docs.cypress.io/api/plugins/browser-launch-api#Set-screen-size-when-running-headless.

[2022-05-12 12:48] Zaista commented on #118
Closing the issue, if there's further needs to provide folder destinations next to the image name, please open a dedicated feature request.

[2022-05-12 12:48] #118 closed

[2022-05-16 19:08] Josh68 opened #127 "Is this a dev dependency?"
Simple question. Instructions say to `npm install cypress-visual-regression` (no `--save-dev`)

Thanks, and thanks for making this tool.

[2022-05-16 19:19] Zaista commented on #127
This is mostly your preference and how you want the npm installation to behave on production servers, but since this is a testing plugin, you most likely want it installed with --save-dev

[2022-05-16 19:19] #127 closed

[2022-05-16 19:24] Josh68 commented on #127
Thank you.

[2022-05-18 11:50] chinkjieh opened #128 "TypeError: (0 , plugin_1.default) is not a function"
<img width="1382" alt="Screenshot 2022-05-18 at 7 42 26 PM" src="https://user-images.githubusercontent.com/7637332/169030898-90ed0f61-d1f4-4fef-a11b-d65b88b4c1f4.png">

I m having issues starting up `cypress open` with error shown above screenshot

I have added `cypress-visual-regression` to tsconfig.json
[code]

`e2e/cypress/support/index.js`
[code]

`e2e/cypress/plugins/index.js`
[code]

`e2e/cy

[2022-05-18 12:02] chinkjieh commented on #128
solved above error with

`e2e/cypress/plugins/index.js`
[code]

now facing
<img width="452" alt="Screenshot 2022-05-18 at 8 01 47 PM" src="https://user-images.githubusercontent.com/7637332/169034051-1d6c5e46-f65a-4a31-ba6c-65af6ad2d0f0.png">

[2022-05-25 15:11] CrestfallenDev opened #129 "Resizing causes element in page to refresh which messes up screenshot"
Love the module but I have a slight issue.

Whenever I want to take a picture of a table in my app, the runner going fullscreen (in headed and headless) causes the table element to resize itself which I cannot avoid, this in turn then give me a screenshot of my table with a loading wheel.

Is there some way you could enable an intercept option for the command so that between expanding the runner a

[2022-05-29 12:22] anhdd-kuro opened #130 "Generate or update only on failed test"
Is there an option that can be update base folder only on failed tests?
I means that when I update the base folder, I need to update all the visual snapshots, but I only want to update and commit on failed tests.

[2022-05-30 02:18] chinkjieh commented on #130
You can use this plugin to filter out and run only your visual tests. just need a bit of work in tagging/keyword
https://github.com/cypress-io/cypress-grep

[2022-05-30 02:20] chinkjieh commented on #122
did you try `cy.get(<your selector>).compareSnapshot(snapshotName,threshold)`?

[2022-06-01 10:06] michal-karbasz commented on #128
I got exactly the same errors. For now, I silenced the last one by creating `/cypress/global.d.ts` with `declare module 'cypress-visual-regression/dist/plugin';`

[2022-06-08 18:39] ungarida opened #131 "Cypress 10 compatibility"
Cypress 10 has been released and I tried it out but it seems to mess with `cypress-visual-regression`. In fact there is a mismatch between paths when is storing the base / actual images in the image path is included the subpath of the test but when is retrieving the image for comparison it is looking for a path that is not including the subpath of the test.

In other words, given this folder struc

[2022-06-10 14:19] joemc11 commented on #131
We are seeing the same issue.  Would be great to get this resolved to move to Cypress 10, which has some great new features.

[2022-06-16 09:39] lazurey commented on #131
Same issue here.
Due to the paths of snapshots are generated dynamically [doc](https://docs.cypress.io/guides/core-concepts/writing-and-organizing-tests#Asset-Files), I tried different ways of hard coded path but no luck.

Is there any workaround before the issue fixed? Thanks,

[2022-06-17 19:23] mjhea0 commented on #131
I should have some time to review over the weekend.

[2022-06-19 08:00] mighdoll commented on #131
Created a fix here: https://github.com/mighdoll/cypress-visual-regression

Apologies that it's not a minimal patch. I refactored a bit as I was exploring the code.

[2022-06-20 01:29] mighdoll commented on #131
updated the fork to pass eslint/prettier.

cypress 10 works for me with the following line in package.json:
`    "cypress-visual-regression": "mighdoll/cypress-visual-regression",
`

[2022-06-20 13:55] PetrOlliKili opened #132 "Merging images"
Hi.

I'm replacing cypress-image-snapshot by this plugin in our  project and i've question.

Is there any way to configure plugin to generate 'compare view' (image contains all three images: <base | diff | actual> or similar)?
![image](https://user-images.githubusercontent.com/94967388/174617355-f0eddfb7-ddd5-410c-aeff-a09ed5b6133d.png)

Thanks

[2022-06-22 20:04] Zaista commented on #132
Unfortunately, this is not possible atm.

[2022-06-22 20:11] Zaista commented on #130
This is out of the scope of this plugin.

[2022-06-22 21:13] Zaista commented on #128
Could you try with these two options in `tsconfig.json` file:
[code]
And then use the normal import statement:
[code]

[2022-06-23 10:48] jmtekin opened #133 "Why does the actual directory always points to the configured screenshot directory?"
Hi! Love the tool, great work!

When using cypress dashboard the "actual" images also get uploaded with the other screenshots since they get put in the same folder, which is undesirable.

It would be really nice to have a SNAPSHOTS_ACTUAL_DIRECTORY variable to avoid this. Is there a good reason why it doesn't exist?

[2022-06-30 18:28] Lasidar commented on #131
Nice work @mighdoll! @mjhea0 any chance we could get these changes incorporated into the main package soon?

[2022-07-01 05:01] rockResolve commented on #124
Actually this is quite doable. Need to:

1. Set (ScreenShot option) overwrite to true
Needed to avoid GUI rerunning test and generating new files with suffix - while the compare ignores them and only ever uses the first file generated.
2. Check current viewport width against the viewport width used when generated (maybe headless screen size?).  Note only need to check height if capture: fullPage (

[2022-07-12 20:36] lone-cloud commented on #131
I had to fork the fork because the proposed solution above didn't work for typescript projects (types were defined to come from /dist which required a build), I didn't want to move the imports from /dist and because the `?.` operator was triggering some babel transform errors for me.
I built and published a working version under: `"@lone-cloud/cypress-visual-regression": "^1.8.1",`

[2022-07-20 22:30] csnate commented on #131
@lone-cloud and @mighdoll nice work! A couple of things I noticed with your additions

1. You now have to set `SNAPSHOT_BASE_DIRECTORY` in your `env` config otherwise the snapshots aren't moved to the SNAPSHOT_BASE directory when you run `env type=base` - [command.js, line 44](https://github.com/mighdoll/cypress-visual-regression/blob/master/src/command.js#L44). When you then try to run `env type=

[2022-07-21 01:30] lazurey commented on #131
I ended up with a super simple hard coded connector between Cypress and pixelmatch.
The problem is all base images sit in the same folder so you need to make sure the name is unique, dependencies are `pixelmatch` and `pngjs`

in `cypress.config.js`, refer to https://docs.cypress.io/api/plugins/after-screenshot-api

[code]

[2022-07-21 07:19] ungarida commented on #131
@csnate thanks for the detailed analysis.  We are facing exactly the second pain point. We have our specs in a folder structure that reflects the pages folder structure and we are at risk of conflicts. An example `user/settings.spec.cy` and `account/settings.spec.cy` screenshot will end both into `settings.spec.cy` folder. Luckily not a big issue but still not optimal...

[2022-07-25 17:42] csnate commented on #131
@ungarida @lone-cloud @mighdoll

I was able to get the sub directory structure to match the screenshots folder by using the following function:

[code]

This will take a root directory (base or diff), the screenshots folder, and the `path` property from the [props from onAfterScreenshot](https://docs.cypress.io/api/commands/screenshot#Get-screenshot-info-from-the-onAfterScreenshot-callback). Used

[2022-08-01 12:49] CrestfallenDev commented on #129
nevermind I guess, I solved it a different way with the app

[2022-08-01 12:49] #129 closed

[2022-09-13 09:59] iMarv commented on #128
@Zaista seems to fix it, had the same issue before.

[2022-09-14 04:54] #128 closed

[2022-09-18 07:40] loia5tqd001 commented on #122
@chinkjieh  > did you try `cy.get(<your selector>).compareSnapshot(snapshotName,threshold)`?

it works just like `cy.compareSnapshot(snapshotName,threshold)` for me

[2022-11-01 15:55] rajkani opened #138 "How to integrate diff images to cypress allure report"
By default the base folder images are attached to cy.screenshot command and gets attached to allure report. But the diff images are not getting added.
Could you please add a configuration to add diff images to allure report?